# azure-pipelines.yml - Azure CLI version (recommended)

trigger:
  branches:
    include:
      - main

pool:
  name: Default

variables:
  resourceGroupName: 'AamirIaCLabRG'
  templateFile: 'webapp.bicep'
  azureSubscription: 'aamir-iac-service-conn'

steps:
- checkout: self
  clean: true

- task: AzureCLI@2
  displayName: 'Install Bicep & Deploy Infrastructure'
  inputs:
    azureSubscription: '$(azureSubscription)'
    scriptType: 'pscore'
    scriptLocation: 'inlineScript'
    inlineScript: |
      # Move to source directory
      cd "$(System.DefaultWorkingDirectory)"

      # Debug - show files
      Write-Host "Current directory: $(Get-Location)"
      Write-Host "Files present:"
      Get-ChildItem -Force

      # Make sure Bicep is installed
      az bicep install --version latest
      bicep --version

      # Deploy Bicep template
      Write-Host "`nDeploying Bicep template..."
      az deployment group create `
        --resource-group "$(resourceGroupName)" `
        --template-file "$(templateFile)" `
        --verbose `
        --name "IaC-Deployment-$(Build.BuildId)"

      Write-Host "`nDeployment finished."

- task: AzureCLI@2
  displayName: 'List Deployed Resources'
  inputs:
    azureSubscription: '$(azureSubscription)'
    scriptType: 'pscore'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az resource list `
        --resource-group "$(resourceGroupName)" `
        --output table